p {
width:auto;
margin:3px;
color:rgb(240, 231, 112);
font-size:16px;
text-shadow: 0px 0px 1px rgb(240, 231, 112);
}
ol,
ul{
margin: 0;
padding: 0;
color:blueviolet;
}
li{
    color:blue;
    font-size:16px;
}
h4           {
    color:blue;
}
html{
    background:#56d8bc;
}
body{
    background:#27b964;
    width:900px;
}
